
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.size{
    width: 87%;
    max-width: 1050;
    margin: 0 auto;
    margin-top:15px;
    margin-bottom: 20px;
}
#nav-links ul{
    list-style-type: none;
    display: flex;
    
    gap: 50px;
}
#nav-links ul li{
    font-size: 16px;
    font-weight: medium;
    cursor: pointer;
}
#nav-root{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    color: white;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    
}
.btn:hover{
    background-color: white;
    color: #469165;
    cursor: pointer;
}
.diff-btn{
    background-color: white;
    color: green;
    border: none;
    padding: 8px 12px;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

.diff-btn:hover{
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.diff-btn p{
    margin-top: 3px;
    
}
.btn-b{
    background-color: #469165;
    color:white; 
    display: flex;
    gap: 10px;
    border-radius: 8px;
    padding: 12px 16px;
    border: none;
}
.btn-b:hover{
    background-color: antiquewhite;
    color: cadetblue;
    font-weight: bold;
    cursor: pointer;
}
.btn-c{
   
    padding: 12px 16px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    border: none;
    border: 1px solid white;
    
     background-color: rgba(0, 0, 0, 0.1);
     color: white;
}
.btn-c:hover{
    background-color: pink;
    color: fuchsia;
    font-weight: bold;
    cursor: pointer;
}
#two-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

#banner-root{
    height: 600px;
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}
#banner h1{
    font-size: 70px;
    color: white;
    text-transform: capitalize;
    font-family: 700;
}
#banner h1 span{
    color: #469165;
}
#banner p{
    font-size: 18px;
    
}
#banner #banner-p{
    color: aliceblue;
    line-height: 24px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#banner-content{
    padding: 90px 70px 110px 70px;
}
#notes h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
#notes p{
    font-size: 16px;
    line-height: 20px;
    color: #826270;
}
#notes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
#card-root .card{
    width: 310px;
    height: 320px;
    padding-top: 80px;
    padding-right: 20px;
   
    
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 40px;
    
}

.card h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 25px;
}
.card p{
    color: #627382;
    font-size: 16px;
    
}
#card-root{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
#brain-content p{
    display: flex;
    gap: 10px;
}
#brain{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
}
#brain .img-kk{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
#brain #brain-p{
    text-transform: uppercase;
    color: #469165;
    font-size: 16px;
    margin-top: 20px;
}
#brain h1{
    font-size: 44px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 40px;
}
#brain #brain-p2{
    color: #627382;
    font-size: 16px;
    margin-bottom: 30px;
}
